name: Run benchmarks
env:
  DEBUG: napi:*
  APP_NAME: scylladb-javascript-driver
  PEDANTIC: true
on:
    workflow_dispatch:
        
jobs:
  build-and-run-benchmarks:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: npm run build -- --target x86_64-unknown-linux-gnu
        node: [ 20 ]
    name: Build and run benchmarks - benchmarks-only - node@${{ matrix.node }}
    runs-on: benchmarks-only
    steps:
      - uses: ./.github/setup
        with:
          host: ${{ matrix.settings.host }}
          target: ${{ matrix.settings.target }}
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Build rust benchmarks
        run: cargo build -p benchmark
      - name: Install benchmarks dependencies
        run: |
          cd benchmark
          npm i
      - name: Run all benchmarks
        run: SCYLLA_URI=172.42.0.2:9042 python benchmark/runner.py
        env:
          DISCORD_BENCHMARKS_WEBHOOK: ${{ secrets.DISCORD_BENCHMARKS_WEBHOOK }}
