# The goal of this workflow is to check if integration tests work correctly
# Currently it uses only datastax tests
name: Run integration tests
env:
  DEBUG: napi:*
  APP_NAME: scylladb-javascript-driver
  RUST_BACKTRACE: full
  PEDANTIC: true
  NO_CONCURRENCY: true
"on":
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - '**'
jobs:
  build-and-run-tests:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: npm run build -- --target x86_64-unknown-linux-gnu
    name: Build and run integration tests - ${{ matrix.settings.target }} - node@20
    runs-on: ${{ matrix.settings.host }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/setup
        with:
          host: ${{ matrix.settings.host }}
          target: ${{ matrix.settings.target }}
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
      - name: Install ccm
        run: |
          pip install --user --upgrade psutil
          pip install --user https://github.com/scylladb/scylla-ccm/archive/master.zip
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Run integration tests on scylla
        env: 
          CCM_IS_SCYLLA: "true"
        run: npm run integration
