# The goal of this workflow is to check if integration tests work correctly
# Currently it uses only datastax tests
name: Run integration tests
env:
  DEBUG: napi:*
  APP_NAME: scylladb-javascript-driver
  RUST_BACKTRACE: full
  PEDANTIC: true
  NO_CONCURRENCY: true
"on":
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - '**'
jobs:
  build-and-run-tests:
    strategy:
      fail-fast: false
      matrix:
        settings:
          - host: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            build: npm run build -- --target x86_64-unknown-linux-gnu
    name: Build and run integration tests - ${{ matrix.settings.target }} - node@20
    runs-on: ${{ matrix.settings.host }}
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'        
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
      - name: Install
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.settings.target }}
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.napi-rs
            .cargo-cache
            target/
          key: ${{ matrix.settings.target }}-cargo-${{ matrix.settings.host }}
      - name: Install dependencies
        run: npm i
      - name: Install ccm
        # We need a copy of the repo for the ssl tests.
        # When installing ccm as a package, we do not save the certificates, 
        # that are present in the ./ssl directory
        run: |
          git clone https://github.com/scylladb/scylla-ccm.git
          pip install --user --upgrade psutil
          pip install --user https://github.com/scylladb/scylla-ccm/archive/master.zip
      - name: Build
        run: ${{ matrix.settings.build }}
        shell: bash
      - name: Run integration tests on scylla
        env: 
          CCM_IS_SCYLLA: "true"
          CCM_PATH: "./scylla-ccm"
        run: npm run integration
