# The goal of this workflow is to check if unit test run correctly
# This includes both datastax unit tests and tests specific for this driver
name: Run unit tests
env:
  DEBUG: napi:*
  PEDANTIC: true
"on":
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - '**'
jobs:
  build-and-run-tests:
    strategy:
      fail-fast: false
    name: Build and run unit tests - node@20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/setup
        with:
          host: ubuntu-latest
          target: x86_64-unknown-linux-gnu
      - name: Build
        run: npm run build -- --target x86_64-unknown-linux-gnu
        shell: bash
      - name: Run unit tests
        run: npm run unit
      - name: Run not fully integrated unit tests
        run: npm run unit-not-supported
      - name: Run rust unit tests
        env:
          CARGO_TERM_COLOR: always
          RUST_BACKTRACE: full
        run: cargo test
